<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link href="{{BASE_URL}}/static/css/pago_matricula.css" rel="stylesheet" />

    <title>Detalle matricula</title>
</head>

<body class="payment-page">
    <div class="container mt-4 mb-4 payment-container" id="app">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="card payment-shell">

                    <div class="card-body pb-1 ">
                        <h4 class="card-title payment-header"
                            @click="consultarPersona">

                            <img src="{{BASE_URL}}/static/img/LogoITP1.svg" class="img img-fluid logo-itp"
                                alt="">
                            Matricula financiera
                            <i class="fa fa-university"></i>
                        </h4>
                    </div>
                    {{!--
                    <div class="card-body">
                        <h1 class="card-title text-center text-success">
                            Matricula Financiera
                        </h1>
                    </div> --}}

                    <div class="container">
                        <div class="row top-cards-row">
                            <div class="col-12 col-md-4">
                                <div class="top-info-card">
                                    <div class="top-info-label"><i class="fa fa-id-card-o"></i> Matrícula</div>
                                    <div class="top-info-value">{{ID_MATRICULA}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="top-info-card">
                                    <div class="top-info-label"><i class="fa fa-university"></i> Sede y periodo</div>
                                    <div class="top-info-value">{[matricula.txtSede]} {[matricula.txtPeriodo]}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="top-info-card" :class="[factura.pagado ? 'top-info-success' : 'top-info-warning']">
                                    <div class="top-info-label"><i class="fa fa-shield"></i> Estado de pago</div>
                                    <div class="top-info-value">{[pago.estado]}</div>
                                </div>
                            </div>
                        </div>

                        <div class="section-card">
                        <h3 class="section-title">Datos del estudiante</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Identificación:</label>
                                    <div type="text" class="form-control field-value">
                                        {[ matricula.selTipoIde ]}-{[ matricula.txtId ]}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Estudiante:</label>
                                    <div type="text" class="form-control field-value">
                                        {[ matricula.txtApellido ]} {[ matricula.txtNombre ]}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Programa:</label>
                                    <div type="text" class="form-control field-value">
                                        {[matricula.txtPrograma]}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Matricula:</label>
                                    <div type="text" class="form-control field-value">
                                        {{ID_MATRICULA}} - {[matricula.txtSede]} {[matricula.txtPeriodo]}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="">Nro Creditos Registrados:</label>
                                    <div type="text" class="form-control field-value border "
                                        :class="[matricula.txtNroCreditos>0 ? 'text-success  border-info': 'text-danger border-danger']">
                                        {[matricula.txtNroCreditos]}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        </div>

                        <div class="row segment-row">
                            <div class="col-md-10">
                                <ul class="nav nav-tabs segment-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                            role="tab" aria-controls="home" aria-selected="true">Pagos</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                            role="tab" aria-controls="contact" aria-selected="false">Descuentos</a>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-md-2 segment-action-col">
                                <a id="profile-tab" class="btn btn-action-soft" href="javascript:void(0)">Consulta
                                    precios</a>
                            </div>
                        </div>





                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="section-card mt-3">

                                <h3 class="section-title">Datos de factura</h3>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Descripcion:</label>
                                            <div type="text" class="form-control field-value">
                                                {[factura.txtDescFactura]}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Codigo:</label>
                                            <div type="text" class="form-control field-value">0125</div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="">Total en letras:</label>
                                            <div type="text" class="form-control field-value text-success">
                                                {[numeroLetras]}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Estado:</label>
                                            <div type="text" class="form-control field-value text-primary">
                                                <strong>{[pago.id]} - {[pago.estado]}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="mt-2 detail-title">Detalle factura</p>
                                        <div class="table-responsive">
                                            <table class="table payment-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">CONCEPTO</th>
                                                        <th scope="col">CANTIDAD</th>
                                                        <th scope="col">DESCUENTO</th>
                                                        <th scope="col">AUMENTO</th>
                                                        <th scope="col">V/UNIDAD</th>
                                                        <th scope="col">SUBTOTAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr v-for="(row, index) in detFactura">
                                                        <th scope="row">{[index+1]} </th>
                                                        <td>{[row.concepto]}</td>
                                                        <td>{[row.cantidad]}</td>
                                                        <td data-bs-toggle="tooltip" title="Some tooltip text!">
                                                            {[ (Math.min(Math.max(Number(row.descuento) || 0, 0), 1) * 100).toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 2 })   ]} % </td>
                                                        <td> {[row.aumento *100]}% </td>
                                                        <td> $ {[row.valor_unidad]} </td>
                                                        <td> $ {[Math.max(Number(row.subtotal) || 0, 0)]} </td>
                                                    </tr>

                                                    {{!-- <tr>
                                                        <th scope="row">1</th>
                                                        <td>PAGO MATRICULA ORDINARIA DTO 10%</td>
                                                        <td>10%</td>
                                                        <td>0%</td>
                                                        <td>$ 824.000</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>PAGO DERECHOS COMPLEMENTARIOS</td>
                                                        <td>0%</td>
                                                        <td>0%</td>
                                                        <td>$ 139.000</td>
                                                    </tr> --}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-danger p-2" role="alert" v-if="mostrarAlert">
                                            {[msjResp]}
                                        </div>
                                    </div>
                                </div>

                                <div class="row payment-summary-row" v-if="!factura.pagado">
                                    <div class="col-12 col-md-6">
                                        {{!-- <div><strong>Esado transaccion: </strong> PENDIENTE</div> --}}
                                        <h4 class="total-amount"> Total a pagar: <strong> $ {[ factura.txtTotalPagar ]} </strong> </h4>
                                    </div>
                                    <div class="col-12 col-md-3 pay-action-col">
                                        <div class="pay-action-wrap">
                                            {{!-- <h4> Total a pagar: <strong> $ {[ factura.txtTotalPagar ]} </strong>
                                            </h4> --}}
                                            <button class="btn btn-pay-outline" data-bs-toggle="tooltip"
                                                @click="continuarPagoEfectivo" data-bs-placement="top"
                                                :disabled="!activarBotonEf" title="Genera PDF para pago en efectivo">
                                                <i class="fa fa-barcode"></i> {[txtBotonEf]}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 pay-action-col">
                                        <div class="pay-action-wrap">
                                            {{!-- <h4> Total a pagar: <strong> $ {[ factura.txtTotalPagar ]} </strong>
                                            </h4> --}}
                                            <button class="btn btn-pay-primary" data-bs-toggle="tooltip"
                                                @click="continuarPago" data-bs-placement="top" :disabled="!activarBoton"
                                                title="Confirma el pago procede al cobro">
                                                <i class="fa fa-money"></i> {[txtBoton]}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row paid-block" v-if="factura.pagado">
                                    <h5>Pago efectuado exitosamente</h5>

                                    <ol class="list-group list-group-numbered ">

                                        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-start"
                                            v-for="(row, index) in factura.pagos">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">$ {[row.valor_pago]} - {[row.estado]}</div>
                                                {[row.forma_pago ]} - {[row.fecha ]}
                                            </div>
                                            <a :href="'{{BASE_URL}}/page/DescargarReciboPago/'+row.pago_id"
                                                target="_blank">
                                                <span class="badge bg-success rounded-pill">
                                                    <i class="fa fa-file-pdf-o"></i> Descargar recibo
                                                </span>
                                            </a>
                                        </li>


                                    </ol>
                                </div>

                                <br /><br />


                            </div>

                            {{!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                Consulta los precios de derechos pecuniarios
                            </div> --}}

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">


                                <div class="section-card mt-3 mb-4 discount-wrapper">
                                    <div class="discount-header">
                                        <h5 class="card-title mb-1">Solicitud de descuento</h5>
                                        <h6 class="card-subtitle mb-0">No aplica para derechos complementarios</h6>
                                    </div>

                                    <div class="row" v-if="descuentoError || descuentoSuccess">
                                        <div class="col-12">
                                            <div class="alert alert-danger p-2 mt-2 mb-2" role="alert" v-if="descuentoError">
                                                {[descuentoError]}
                                            </div>
                                            <div class="alert alert-success p-2 mt-2 mb-2" role="alert" v-if="descuentoSuccess">
                                                {[descuentoSuccess]}
                                            </div>
                                        </div>
                                    </div>

                                    <form class="discount-form" @submit.prevent="enviarArchivo" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="row section-card discount-form-card">

                                                        <div class="form-group">
                                                            <label for="">Tipo descuento:
                                                                <span class="text-danger">*</span></label>
                                                            <select class="form-select"
                                                                aria-label="Default select example"
                                                                v-model="porcentaje.categoria">
                                                                <option disabled value="">Seleccionar</option>
                                                                <option :value="row._id"
                                                                    v-for="(row, index) in categorias">
                                                                    {[row.descripcion]}</option>

                                                            </select>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="txtObservacion">Descripción del soporte <span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control"
                                                                    v-model="porcentaje.observacion" id="txtObservacion"
                                                                    placeholder="Ej: certificado, recibo, constancia o soporte académico" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 mt-2">
                                                            <label for="formFileLg" class="form-label">Adjuntar soporte PDF <span class="text-danger">*</span></label>
                                                            <div class="discount-upload-hint">Archivo obligatorio en formato PDF.</div>
                                                            <input v-show="true" class="form-control form-control-lg discount-file-input"
                                                                id="formFileLg" type="file" accept=".pdf,application/pdf"
                                                                v-on:change="handleFileUpload()" ref="file">
                                                        </div>

                                                        <div class="col-md-12 mt-2" v-if="mostrarProgresoSoporte">
                                                            <div class="progress" style="height: 8px;">
                                                                <div class="progress-bar" role="progressbar"
                                                                    :style="{ width: progresoSoporte + '%' }"
                                                                    :aria-valuenow="progresoSoporte" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <small class="text-muted">{[textoProgresoSoporte]}</small>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <button class="btn btn-pay-primary discount-submit-btn"
                                                                :disabled="desactivarBotonSoporte"
                                                                type="submit">{[desactivarBotonSoporte ? 'Enviando...' : 'Enviar solicitud']}</button>
                                                        </div>


                                                    </div>


                                                </div>

                                                <div class="col-md-6">
                                                    <div class="section-card discount-status-card">
                                                        <h3 class="section-title">Estado de la solicitud</h3>
                                                        <div class="table-responsive">
                                                            <table class="table payment-table discount-status-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Concepto</th>
                                                                        <th scope="col">Descripción</th>
                                                                        <th scope="col">Estado</th>
                                                                        <th scope="col">Ver</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr v-if="!soportes || soportes.length === 0">
                                                                        <td colspan="4" class="text-center text-muted">No hay solicitudes registradas.</td>
                                                                    </tr>
                                                                    <tr v-for="(row, index) in soportes" :key="index">
                                                                        <td><strong>{[row.descripcion]}</strong></td>
                                                                        <td :title="row.observacion || 'Sin descripción'">{[truncateSupportDescription(row.observacion || 'Sin descripción')]}</td>
                                                                        <td>
                                                                            <span :class="[row.estado=='APROBADO' || row.estado=='FACTURADO' ? 'status-badge status-badge-ok' : 'status-badge status-badge-warn']">
                                                                                {[row.estado]} {[row.porcentaje*100]}%
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-sm btn-outline-primary" @click="openSupportPdf(row)" title="Ver soporte PDF"> 
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>






                                            </div>



                                        </form>
                                </div>

                                <div v-if="showSupportPdfModal" style="position:fixed;inset:0;background:rgba(0,0,0,.45);z-index:2000;display:flex;align-items:center;justify-content:center;padding:1rem;">
                                    <div style="background:#fff;border-radius:10px;max-width:960px;width:100%;max-height:90vh;display:flex;flex-direction:column;overflow:hidden;">
                                        <div style="display:flex;align-items:center;justify-content:space-between;padding:.75rem 1rem;border-bottom:1px solid #e9ecef;">
                                            <strong>Soporte PDF</strong>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" @click="closeSupportPdfModal">Cerrar</button>
                                        </div>
                                        <div style="padding:1rem;min-height:280px;">
                                            <div v-if="supportPdfUrl">
                                                <iframe :src="supportPdfUrl" title="Soporte PDF" style="width:100%;height:70vh;border:1px solid #dee2e6;border-radius:8px;"></iframe>
                                            </div>
                                            <div v-else class="alert alert-warning mb-0">No hay soporte disponible para visualizar.</div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="{{BASE_URL}}/static/js/numLetras.js" type="text/javascript"></script>
    <script>

        $(function () {
            var triggerTabList = [].slice.call(
                document.querySelectorAll("#myTab a")
            );
            triggerTabList.forEach(function (triggerEl) {
                var tabTrigger = new bootstrap.Tab(triggerEl);

                triggerEl.addEventListener("click", function (event) {
                    event.preventDefault();
                    tabTrigger.show();
                });
            });

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })




        });




        var app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            beforeMount() {
                this.consultarPersona()
            },
            data() {
                return {
                    matricula: {
                        txtId: "",
                        selTipoIde: "",
                        codTipoID: 0,
                        txtNombre: "",
                        txtApellido: "",
                        txtPrograma: "",
                        txtSede: "",
                        txtPeriodo: "",
                        txtNroCreditos: 0,
                        email_persona: "",
                        cel_persona: "",
                        txtDescripcionFactura: "",
                        colorTextoAlert: "text-success",
                        cod_periodo: '',
                        programaPersonaId: 0
                    },
                    pago: {
                        id: '',
                        codigo: '',
                        estado: 'SIN PAGO'
                    },
                    factura: {
                        txtDescFactura: "",
                        txtTotalPagar: 0,
                        txtTotalPagarInt: 0,
                        cod_paquete: "0",
                        pagado: false,
                        pagos: []
                    },
                    porcentaje: {
                        categoria: '',
                        observacion: ''
                    },
                    detFactura: [],
                    categorias: [],
                    soportes: [],
                    numeroLetras: "CERO PESOS",
                    activarBoton: true,
                    txtBoton: "Pagar en linea",
                    activarBotonEf: true,
                    txtBotonEf: "Pagar en efectivo",
                    msjResp: "",
                    mostrarAlert: false,
                    file: '',
                    desactivarBotonSoporte: false,
                    descuentoError: '',
                    descuentoSuccess: '',
                    progresoSoporte: 0,
                    mostrarProgresoSoporte: false,
                    textoProgresoSoporte: '',
                    progresoSoporteTimer: null,
                    showSupportPdfModal: false,
                    supportPdfUrl: ''
                };
            },
            methods: {

                clearProgressAnimation() {
                    if (this.progresoSoporteTimer) {
                        clearInterval(this.progresoSoporteTimer);
                        this.progresoSoporteTimer = null;
                    }
                },

                animateProgressWithMinDuration(durationMs = 4000) {
                    this.clearProgressAnimation();
                    this.progresoSoporte = 0;
                    this.textoProgresoSoporte = 'Cargando archivo... 0%';

                    return new Promise((resolve) => {
                        const startedAt = Date.now();
                        this.progresoSoporteTimer = setInterval(() => {
                            const elapsed = Date.now() - startedAt;
                            const progress = Math.min(100, Math.floor((elapsed / durationMs) * 100));
                            this.progresoSoporte = progress;
                            this.textoProgresoSoporte = `Cargando archivo... ${progress}%`;

                            if (progress >= 100) {
                                this.clearProgressAnimation();
                                resolve(true);
                            }
                        }, 40);
                    });
                },

                truncateSupportDescription(value) {
                    const text = String(value || '');
                    if (text.length <= 10) {
                        return text;
                    }
                    return `${text.slice(0, 10)}...`;
                },

                resolveSupportPdfUrl(row) {
                    if (!row) {
                        return '';
                    }

                    const soporteId = String(row._id || '').trim();
                    if (soporteId) {
                        return `{{BASE_URL}}/transaccion/soportedescuento/pdf/${encodeURIComponent(soporteId)}`;
                    }

                    if (!row.json_file) {
                        return '';
                    }

                    try {
                        const metadata = typeof row.json_file === 'string' ? JSON.parse(row.json_file) : row.json_file;
                        const basepath = String(metadata?.basepath || '').replace(/\\/g, '/');
                        const idxUploads = basepath.indexOf('/uploads/');

                        if (idxUploads >= 0) {
                            const relativePath = basepath.substring(idxUploads + '/uploads/'.length);
                            return `{{BASE_URL}}/static/uploads/${relativePath}`;
                        }
                    } catch (error) {
                        return '';
                    }

                    return '';
                },

                async openSupportPdf(row) {
                    const candidateUrl = this.resolveSupportPdfUrl(row);
                    this.supportPdfUrl = '';
                    this.showSupportPdfModal = true;

                    if (!candidateUrl) {
                        return;
                    }

                    try {
                        const headResponse = await fetch(candidateUrl, { method: 'HEAD' });
                        if (headResponse.ok) {
                            this.supportPdfUrl = candidateUrl;
                        }
                    } catch (error) {
                        this.supportPdfUrl = '';
                    }
                },

                closeSupportPdfModal() {
                    this.showSupportPdfModal = false;
                    this.supportPdfUrl = '';
                },

                getCategoriaSeleccionada() {
                    return this.categorias.find((row) => String(row._id) === String(this.porcentaje.categoria));
                },

                validarSolicitudDescuento() {
                    this.descuentoError = '';
                    this.descuentoSuccess = '';

                    const categoriaSeleccionada = this.getCategoriaSeleccionada();
                    if (!this.porcentaje.categoria || !categoriaSeleccionada) {
                        this.descuentoError = 'Debe seleccionar un tipo de descuento válido.';
                        return false;
                    }

                    const categoriaDescripcion = String(categoriaSeleccionada.descripcion || '').trim().toUpperCase();
                    if (categoriaDescripcion === 'NO APLICA') {
                        this.descuentoError = 'La opción NO APLICA no permite enviar solicitud de descuento.';
                        return false;
                    }

                    const observacion = String(this.porcentaje.observacion || '').trim();
                    if (!observacion) {
                        this.descuentoError = 'La observación es obligatoria.';
                        return false;
                    }

                    if (!this.file) {
                        this.descuentoError = 'Debe adjuntar un archivo PDF como soporte.';
                        return false;
                    }

                    const fileName = String(this.file.name || '').toLowerCase();
                    const fileType = String(this.file.type || '').toLowerCase();
                    if (!fileName.endsWith('.pdf') || (fileType && fileType !== 'application/pdf')) {
                        this.descuentoError = 'El archivo adjunto debe estar en formato PDF.';
                        return false;
                    }

                    return true;
                },

                async enviarArchivo() {
                    if (this.desactivarBotonSoporte) {
                        return;
                    }

                    if (!this.validarSolicitudDescuento()) {
                        return;
                    }

                    const archivo = this.file;
                    const MAX_FILE_SIZE = 1024 * 1024;
                    if (!archivo || Number(archivo.size || 0) > MAX_FILE_SIZE) {
                        this.descuentoError = 'El archivo supera el tamaño máximo permitido. Por favor cargue un PDF de máximo 1 MB.';
                        this.descuentoSuccess = '';
                        this.desactivarBotonSoporte = false;
                        this.mostrarProgresoSoporte = false;
                        this.progresoSoporte = 0;
                        this.textoProgresoSoporte = '';
                        return;
                    }

                    let formData = new FormData();
                    this.desactivarBotonSoporte = true;
                    this.mostrarProgresoSoporte = true;
                    const progressPromise = this.animateProgressWithMinDuration(4000);

                    const estudianteId = String(this.matricula.txtId || '').trim();
                    const matriculaId = String('{{ID_MATRICULA}}').trim();
                    const porcentajeCategoriaId = String(this.porcentaje.categoria || '').trim();
                    const periodoId = String(this.matricula.cod_periodo || '').trim();
                    const observacion = String(this.porcentaje.observacion || '').trim();

                    if (!estudianteId || !matriculaId || !porcentajeCategoriaId || !periodoId || !observacion) {
                        this.descuentoError = 'Faltan datos requeridos para registrar el soporte de descuento.';
                        this.descuentoSuccess = '';
                        this.desactivarBotonSoporte = false;
                        this.mostrarProgresoSoporte = false;
                        this.progresoSoporte = 0;
                        this.textoProgresoSoporte = '';
                        return;
                    }

                    formData.append('archivo', archivo);

                    formData.append('observacion', observacion);
                    formData.append('porcentaje_categoria_id', porcentajeCategoriaId);
                    formData.append('estudiante_id', estudianteId);
                    formData.append('matricula_id', matriculaId);
                    formData.append('periodo_id', periodoId);
                    formData.append('nom_periodo', this.matricula.txtPeriodo);
                    formData.append('accion', '1');

                    try {
                        const responseData = await new Promise((resolve, reject) => {
                            const xhr = new XMLHttpRequest();
                            xhr.open('POST', '{{BASE_URL}}/transaccion/soporteDescuento', true);

                            xhr.upload.onprogress = () => {
                                // El progreso visual se controla por una duracion minima de 4 segundos.
                            };

                            xhr.onload = () => {
                                const status = xhr.status;
                                const contentType = String(xhr.getResponseHeader('content-type') || '').toLowerCase();
                                const isJson = contentType.includes('application/json');
                                const rawResponse = xhr.responseText;
                                let parsedBody = null;

                                if (isJson) {
                                    try {
                                        parsedBody = JSON.parse(rawResponse);
                                    } catch (error) {
                                        parsedBody = null;
                                    }
                                }

                                if (status === 413) {
                                    reject(new Error('El archivo supera el tamaño máximo permitido. Por favor cargue un PDF de máximo 1 MB.'));
                                    return;
                                }

                                if (status === 504) {
                                    reject(new Error('El servidor tardó demasiado en responder. Intente nuevamente o cargue un PDF más liviano.'));
                                    return;
                                }

                                if (status === 500) {
                                    reject(new Error('Ocurrió un error interno al guardar el soporte. Intente nuevamente.'));
                                    return;
                                }

                                if (status < 200 || status >= 300) {
                                    if (isJson && parsedBody && parsedBody.message) {
                                        reject(new Error(parsedBody.message));
                                        return;
                                    }
                                    reject(new Error('No fue posible enviar la solicitud. Intente nuevamente.'));
                                    return;
                                }

                                if (!isJson) {
                                    resolve({ error: false, rawText: rawResponse });
                                    return;
                                }

                                resolve(parsedBody || { error: false });
                            };

                            xhr.onerror = () => {
                                reject(new Error('No fue posible enviar la solicitud. Intente nuevamente.'));
                            };

                            xhr.ontimeout = () => {
                                reject(new Error('El servidor tardó demasiado en responder. Intente nuevamente o cargue un PDF más liviano.'));
                            };

                            xhr.send(formData);
                        });

                        await progressPromise;
                        this.progresoSoporte = 100;
                        this.textoProgresoSoporte = 'Cargando archivo... 100%';

                        if (responseData && responseData.error) {
                            throw new Error(responseData.message || 'No fue posible enviar la solicitud.');
                        }

                        this.descuentoError = '';
                        this.descuentoSuccess = 'Solicitud enviada exitosamente.';
                        this.porcentaje.observacion = '';
                        this.porcentaje.categoria = '';
                        this.file = '';
                        if (this.$refs.file) {
                            this.$refs.file.value = '';
                        }
                        this.consultarPersona();
                    } catch (error) {
                        this.clearProgressAnimation();
                        this.descuentoSuccess = '';
                        this.descuentoError = error?.message || 'Servicio no disponible temporalmente para registrar la solicitud.';
                    } finally {
                        this.clearProgressAnimation();
                        this.desactivarBotonSoporte = false;
                        this.mostrarProgresoSoporte = false;
                        this.progresoSoporte = 0;
                        this.textoProgresoSoporte = '';
                    }
                },
                handleFileUpload() {
                    this.descuentoError = '';
                    this.descuentoSuccess = '';
                    this.file = this.$refs.file.files[0];
                },
                async continuarPagoEfectivo() {
                    if (!this.activarBotonEf) {
                        return;
                    }

                    this.mostrarAlert = false;
                    this.msjResp = '';

                    const descripcionFactura = String(this.factura.txtDescFactura || '').trim();
                    const descripcionDetalle = Array.isArray(this.detFactura)
                        ? this.detFactura
                            .map((row) => String(row?.descripcion || row?.concepto || '').trim())
                            .filter((row) => row.length > 0)
                            .join(' + ')
                        : '';

                    const dataCaja = {
                        isPagoOnline: false,
                        codPaquete: this.factura.cod_paquete,
                        programaPersonaId: this.matricula.programaPersonaId,
                        total: this.factura.txtTotalPagarInt,
                        personaId: this.matricula.txtId,
                        matriculaId: '{{ ID_MATRICULA }}',
                        descripcion: descripcionFactura || descripcionDetalle || 'PAGO MATRICULA',
                    };

                    this.activarBotonEf = false;
                    this.txtBotonEf = 'Procesando...';

                    try {
                        const response = await fetch('{{URL_INVOICE}}', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(dataCaja)
                        });

                        const data = await response.json();

                        if (!response.ok || data.error) {
                            throw new Error(data?.message || 'No fue posible generar el pago en efectivo.');
                        }

                        const invoiceId = Number(data?.invoiceId || 0);
                        const financieroPublicUrl = String('{{FINANCIERO_PUBLIC_URL}}').trim().replace(/\/+$/, '');
                        const localRedirect = invoiceId > 0 && financieroPublicUrl
                            ? `${financieroPublicUrl}/invoice/pdf/${invoiceId}`
                            : '';

                        const finalRedirect = localRedirect || data.redirectPayment;
                        if (!finalRedirect) {
                            throw new Error('No se pudo construir la URL de redirección de la factura.');
                        }

                        this.txtBotonEf = 'Redireccionando...';
                        window.location = finalRedirect;
                    } catch (err) {
                        this.msjResp = err?.message || 'Servicio no disponible temporalmente para pago en efectivo.';
                        this.mostrarAlert = true;
                    } finally {
                        if (this.txtBotonEf !== 'Redireccionando...') {
                            this.activarBotonEf = true;
                            this.txtBotonEf = 'Pagar en efectivo';
                        }
                    }
                },

                consultarPersona() {
                    console.log("El evento onchange se ejecuta");

                    fetch(`{{BASE_URL}}/matricula/generarpagomatricula/{{ID_MATRICULA}}`)
                        .then((response) => response.json())
                        .then((data) => {
                            if (!data.error) {

                                if (data.estadopago.length > 0) {
                                    this.factura.pagado = true;
                                    this.factura.pagos = data.estadopago;
                                    this.pago.id = data.estadopago[0].pago_id;
                                    // this.pago.codigo = data.estadopago[0].estado_pago_id;
                                    this.pago.estado = data.estadopago[0].estado;


                                } else {
                                    this.pago.estado = "SIN PAGO";
                                }


                                let matricula = data.matricula;
                                this.categorias = data.categorias;
                                let detalle_factura = data.detalle_factura;
                                this.matricula.txtId = matricula.ide_persona;
                                this.matricula.selTipoIde = matricula.tipo_doc;
                                this.matricula.txtNombre = matricula.nom1_persona + " " + matricula.nom2_persona;
                                this.matricula.txtApellido = matricula.ape1_persona + " " + matricula.ape2_persona;
                                this.matricula.txtPrograma = matricula.nom_nivel_educativo;
                                this.matricula.txtSede = matricula.siglas_colegio;
                                this.matricula.txtPeriodo = matricula.nom_periodo;
                                this.matricula.cod_periodo = matricula.cod_periodo;
                                this.matricula.programaPersonaId = matricula.id_programa_persona;
                                this.factura.txtDescFactura = detalle_factura[0].paquete;
                                this.factura.txtTotalPagarInt = data.total_a_pagar_int;
                                this.numeroLetras = numeroALetras(data.total_a_pagar_int, {
                                    plural: "PESOS",
                                    singular: "PESO",
                                    centPlural: "CENTAVOS",
                                    centSingular: "CENTAVO",
                                });
                                this.soportes = data.soportes;
                                this.matricula.cel_persona = matricula.cel_persona;
                                this.matricula.codTipoID = matricula.cod_doc
                                this.matricula.email_persona = matricula.email_persona;
                                this.factura.txtTotalPagar = data.total_a_pagar;
                                this.detFactura = data.detalle_factura;
                                this.matricula.txtNroCreditos = matricula.nro_creditos;
                                this.factura.cod_paquete = data.detalle_factura[0].codigo;

                            } else {
                                alert(data.message);
                            }
                        });
                },
                continuarPago(isPagoOnline = true) {
                    // this.formpago.activarBoton = false;
                    //  this.formpago.txtBoton = "Procesando...";


                    const dataOnline = {
                        "cod_matricula": '{{ ID_MATRICULA }}',
                        "isPagoOnline": true,
                    }

                    const dataCaja = {
                        "isPagoOnline": false,
                        "codPaquete": this.factura.cod_paquete,
                        "programaPersonaId": this.matricula.programaPersonaId,
                        "total": this.factura.txtTotalPagarInt,
                        "personaId": this.matricula.txtId,
                        "matriculaId": '{{ ID_MATRICULA }}',
                    };

                    const finalData = isPagoOnline ? dataOnline : dataCaja;
                    const finalURL = isPagoOnline ? `{{BASE_URL}}/transaccion/InicioPagoMatricula` : "{{URL_INVOICE}}";




                    this.activarBoton = false;
                    this.txtBoton = "Procesando...";
                    fetch(
                        finalURL, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(finalData)
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.error) {
                                this.msjResp = data.message;
                                this.mostrarAlert = true;
                                this.activarBoton = true;
                                this.txtBoton = "Confirmar pago";
                            } else {
                                this.activarBoton = false;
                                this.txtBoton = "Redireccionando...";
                                window.location = isPagoOnline ? data.data.str_url : data.redirectPayment;

                            }

                        }).catch((err) => {
                            console.log(err);
                        });
                },


                numeroALetras(numero) {
                    this.formpago.colorTextoAlert = "text-success";
                    this.numeroLetras = numeroALetras(this.formpago.txtTotal, {
                        plural: "PESOS",
                        singular: "PESO",
                        centPlural: "CENTAVOS",
                        centSingular: "CENTAVO",
                    });
                },

                procesarFormulario() { },
            },



        });





    </script>
</body>

</html>
