<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link href="{{BASE_URL}}/static/css/pago_matricula.css" rel="stylesheet" />

    <title>Detalle matricula</title>
</head>

<body class="payment-page">
    <div class="container mt-4 mb-4 payment-container" id="app">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="card payment-shell">

                    <div class="card-body pb-1 ">
                        <h4 class="card-title payment-header"
                            @click="consultarPersona">

                            <img src="{{BASE_URL}}/static/img/LogoITP1.svg" class="img img-fluid logo-itp"
                                alt="">
                            Matricula financiera
                            <i class="fa fa-university"></i>
                        </h4>
                    </div>
                    {{!--
                    <div class="card-body">
                        <h1 class="card-title text-center text-success">
                            Matricula Financiera
                        </h1>
                    </div> --}}

                    <div class="container">
                        <div class="row top-cards-row">
                            <div class="col-12 col-md-4">
                                <div class="top-info-card">
                                    <div class="top-info-label"><i class="fa fa-id-card-o"></i> Matrícula</div>
                                    <div class="top-info-value">{{ID_MATRICULA}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="top-info-card">
                                    <div class="top-info-label"><i class="fa fa-university"></i> Sede y periodo</div>
                                    <div class="top-info-value">{[matricula.txtSede]} {[matricula.txtPeriodo]}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="top-info-card" :class="[factura.pagado ? 'top-info-success' : 'top-info-warning']">
                                    <div class="top-info-label"><i class="fa fa-shield"></i> Estado de pago</div>
                                    <div class="top-info-value">{[pago.estado]}</div>
                                </div>
                            </div>
                        </div>

                        <div class="section-card">
                        <h3 class="section-title">Datos del estudiante</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Identificación:</label>
                                    <div type="text" class="form-control field-value">
                                        {[ matricula.selTipoIde ]}-{[ matricula.txtId ]}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Estudiante:</label>
                                    <div type="text" class="form-control field-value">
                                        {[ matricula.txtApellido ]} {[ matricula.txtNombre ]}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Programa:</label>
                                    <div type="text" class="form-control field-value">
                                        {[matricula.txtPrograma]}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Matricula:</label>
                                    <div type="text" class="form-control field-value">
                                        {{ID_MATRICULA}} - {[matricula.txtSede]} {[matricula.txtPeriodo]}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="">Nro Creditos Registrados:</label>
                                    <div type="text" class="form-control field-value border "
                                        :class="[matricula.txtNroCreditos>0 ? 'text-success  border-info': 'text-danger border-danger']">
                                        {[matricula.txtNroCreditos]}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        </div>

                        <div class="row segment-row">
                            <div class="col-md-10">
                                <ul class="nav nav-tabs segment-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                            role="tab" aria-controls="home" aria-selected="true">Pagos</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                            role="tab" aria-controls="contact" aria-selected="false">Descuentos</a>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-md-2 segment-action-col">
                                <a id="profile-tab" class="btn btn-action-soft" href="javascript:void(0)">Consulta
                                    precios</a>
                            </div>
                        </div>





                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="section-card mt-3">

                                <h3 class="section-title">Datos de factura</h3>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Descripcion:</label>
                                            <div type="text" class="form-control field-value">
                                                {[factura.txtDescFactura]}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Codigo:</label>
                                            <div type="text" class="form-control field-value">0125</div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="">Total en letras:</label>
                                            <div type="text" class="form-control field-value text-success">
                                                {[numeroLetras]}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Estado:</label>
                                            <div type="text" class="form-control field-value text-primary">
                                                <strong>{[pago.id]} - {[pago.estado]}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="mt-2 detail-title">Detalle factura</p>
                                        <div class="table-responsive">
                                            <table class="table payment-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">CONCEPTO</th>
                                                        <th scope="col">CANTIDAD</th>
                                                        <th scope="col">DESCUENTO</th>
                                                        <th scope="col">AUMENTO</th>
                                                        <th scope="col">V/UNIDAD</th>
                                                        <th scope="col">SUBTOTAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr v-for="(row, index) in detFactura">
                                                        <th scope="row">{[index+1]} </th>
                                                        <td>{[row.concepto]}</td>
                                                        <td>{[row.cantidad]}</td>
                                                        <td data-bs-toggle="tooltip" title="Some tooltip text!">
                                                            {[ (Math.min(Math.max(Number(row.descuento) || 0, 0), 1) * 100).toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 2 })   ]} % </td>
                                                        <td> {[row.aumento *100]}% </td>
                                                        <td> $ {[row.valor_unidad]} </td>
                                                        <td> $ {[Math.max(Number(row.subtotal) || 0, 0)]} </td>
                                                    </tr>

                                                    {{!-- <tr>
                                                        <th scope="row">1</th>
                                                        <td>PAGO MATRICULA ORDINARIA DTO 10%</td>
                                                        <td>10%</td>
                                                        <td>0%</td>
                                                        <td>$ 824.000</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>PAGO DERECHOS COMPLEMENTARIOS</td>
                                                        <td>0%</td>
                                                        <td>0%</td>
                                                        <td>$ 139.000</td>
                                                    </tr> --}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-danger p-2" role="alert" v-if="mostrarAlert">
                                            {[msjResp]}
                                        </div>
                                    </div>
                                </div>

                                <div class="row payment-summary-row" v-if="!factura.pagado">
                                    <div class="col-12 col-md-6">
                                        {{!-- <div><strong>Esado transaccion: </strong> PENDIENTE</div> --}}
                                        <h4 class="total-amount"> Total a pagar: <strong> $ {[ factura.txtTotalPagar ]} </strong> </h4>
                                    </div>
                                    <div class="col-12 col-md-3 pay-action-col">
                                        <div class="pay-action-wrap">
                                            {{!-- <h4> Total a pagar: <strong> $ {[ factura.txtTotalPagar ]} </strong>
                                            </h4> --}}
                                            <button class="btn btn-pay-outline" data-bs-toggle="tooltip"
                                                @click="continuarPagoEfectivo" data-bs-placement="top"
                                                :disabled="!activarBotonEf" title="Genera PDF para pago en efectivo">
                                                <i class="fa fa-barcode"></i> {[txtBotonEf]}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 pay-action-col">
                                        <div class="pay-action-wrap">
                                            {{!-- <h4> Total a pagar: <strong> $ {[ factura.txtTotalPagar ]} </strong>
                                            </h4> --}}
                                            <button class="btn btn-pay-primary" data-bs-toggle="tooltip"
                                                @click="continuarPago" data-bs-placement="top" :disabled="!activarBoton"
                                                title="Confirma el pago procede al cobro">
                                                <i class="fa fa-money"></i> {[txtBoton]}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row paid-block" v-if="factura.pagado">
                                    <h5>Pago efectuado exitosamente</h5>

                                    <ol class="list-group list-group-numbered ">

                                        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-start"
                                            v-for="(row, index) in factura.pagos">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">$ {[row.valor_pago]} - {[row.estado]}</div>
                                                {[row.forma_pago ]} - {[row.fecha ]}
                                            </div>
                                            <a :href="'{{BASE_URL}}/page/DescargarReciboPago/'+row.pago_id"
                                                target="_blank">
                                                <span class="badge bg-success rounded-pill">
                                                    <i class="fa fa-file-pdf-o"></i> Descargar recibo
                                                </span>
                                            </a>
                                        </li>


                                    </ol>
                                </div>

                                <br /><br />


                            </div>

                            {{!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                Consulta los precios de derechos pecuniarios
                            </div> --}}

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">


                                <div class="card mt-3 mb-4 section-card">
                                    <div class="card-body discount-body">
                                        <h5 class="card-title">Solicitud de descuento </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">No aplica para derechos
                                            complementarios</h6>


                                        <div>

                                        </div>



                                        <form class="p-4" @submit.prevent="enviarArchivo" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="row">

                                                        <div class="form-group">
                                                            <label for="">Tipo descuento:
                                                                <span class="text-danger">*</span></label>
                                                            <select class="form-select"
                                                                aria-label="Default select example"
                                                                v-model="porcentaje.categoria">
                                                                <option disabled value="">Seleccionar</option>
                                                                <option :value="row._id"
                                                                    v-for="(row, index) in categorias">
                                                                    {[row.descripcion]}</option>

                                                            </select>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="txtObservacion">Observación </label>
                                                                <input type="text" class="form-control"
                                                                    v-model="porcentaje.observacion" id="txtObservacion"
                                                                    placeholder="Ej: pago certificado o record academico" />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 mt-2">
                                                            <label for="formFileLg" style="cursor: pointer"
                                                                class="form-label">Arrastra
                                                                aquí un
                                                                documento
                                                                para solicitar descuento en tu
                                                                matricula, Ej: certificado de votación para descuento de
                                                                10%
                                                                <div>
                                                                    <input v-show="true"
                                                                        style="border: 2px dashed #0087F7;  background: white; cursor: pointer"
                                                                        class="form-control form-control-lg"
                                                                        id="formFileLg" type="file"
                                                                        v-on:change="handleFileUpload()" ref="file">

                                                                </div>
                                                            </label>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <button class="btn btn-success"
                                                                :disabled="desactivarBotonSoporte"
                                                                type="submit">Enviar</button>
                                                        </div>


                                                    </div>


                                                </div>

                                                <div class="col-md-6">
                                                    <p>Estado de la solicitud</p>
                                                    <ol class="list-group list-group-numbered">
                                                        <li v-for="(row, index) in soportes"
                                                            class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold"> {[row.descripcion]} </div>
                                                                {[row.observacion]}
                                                            </div>
                                                            <span
                                                                :class="[row.estado=='APROBADO' || row.estado=='FACTURADO'  ? 'bg-success' : 'bg-warning']"
                                                                class="badge  rounded-pill">{[row.estado]}
                                                                {[row.porcentaje*100]} %</span>
                                                        </li>


                                                    </ol>
                                                </div>






                                            </div>



                                        </form>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="{{BASE_URL}}/static/js/numLetras.js" type="text/javascript"></script>
    <script>

        $(function () {
            var triggerTabList = [].slice.call(
                document.querySelectorAll("#myTab a")
            );
            triggerTabList.forEach(function (triggerEl) {
                var tabTrigger = new bootstrap.Tab(triggerEl);

                triggerEl.addEventListener("click", function (event) {
                    event.preventDefault();
                    tabTrigger.show();
                });
            });

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })




        });




        var app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            beforeMount() {
                this.consultarPersona()
            },
            data() {
                return {
                    matricula: {
                        txtId: "",
                        selTipoIde: "",
                        codTipoID: 0,
                        txtNombre: "",
                        txtApellido: "",
                        txtPrograma: "",
                        txtSede: "",
                        txtPeriodo: "",
                        txtNroCreditos: 0,
                        email_persona: "",
                        cel_persona: "",
                        txtDescripcionFactura: "",
                        colorTextoAlert: "text-success",
                        cod_periodo: '',
                        programaPersonaId: 0
                    },
                    pago: {
                        id: '',
                        codigo: '',
                        estado: 'SIN PAGO'
                    },
                    factura: {
                        txtDescFactura: "",
                        txtTotalPagar: 0,
                        txtTotalPagarInt: 0,
                        cod_paquete: "0",
                        pagado: false,
                        pagos: []
                    },
                    porcentaje: {
                        categoria: 1,
                        observacion: ''
                    },
                    detFactura: [],
                    categorias: [],
                    soportes: [],
                    numeroLetras: "CERO PESOS",
                    activarBoton: true,
                    txtBoton: "Pagar en linea",
                    activarBotonEf: true,
                    txtBotonEf: "Pagar en efectivo",
                    msjResp: "",
                    mostrarAlert: false,
                    file: '',
                    desactivarBotonSoporte: false
                };
            },
            methods: {

                enviarArchivo() {
                    console.log("Enviar archivo file");


                    let formData = new FormData();
                    this.desactivarBotonSoporte = true;

                    formData.append('archivo', this.file);

                    formData.append('observacion', this.porcentaje.observacion);
                    formData.append('porcentaje_categoria_id', this.porcentaje.categoria);
                    formData.append('estudiante_id', this.matricula.txtId);
                    formData.append('matricula_id', '{{ID_MATRICULA}}');
                    formData.append('periodo_id', this.matricula.cod_periodo);
                    formData.append('nom_periodo', this.matricula.txtPeriodo);
                    formData.append('accion', '1');


                    fetch('{{BASE_URL}}/transaccion/soporteDescuento',
                        {
                            method: 'POST',
                            body: formData
                        }
                    ).then((response) => response.json())
                        .then(function (data) {
                            console.log('SUCCESS!!');
                            this.consultarPersona();

                        }.bind(this))
                        .catch(function () {
                            console.log('FAILURE!!');
                            this.desactivarBotonSoporte = false;
                        });



                },
                handleFileUpload() {
                    this.file = this.$refs.file.files[0];
                },
                continuarPagoEfectivo() {


                    // this.formpago.activarBoton = false;
                    //  this.formpago.txtBoton = "Procesando...";


                    let data = {
                        "cod_matricula": '{{ ID_MATRICULA }}',
                        "isPagoOnline": false,
                    }

                    const dataCaja = {
                        "isPagoOnline": false,
                        "codPaquete": this.factura.cod_paquete,
                        "programaPersonaId": this.matricula.programaPersonaId,
                        "total": this.factura.txtTotalPagarInt,
                        "personaId": this.matricula.txtId,
                        "matriculaId": '{{ ID_MATRICULA }}',
                    };


                    this.activarBotonEf = false;
                    this.txtBotonEf = "Procesando...";
                    fetch(
                        `{{URL_INVOICE}}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(dataCaja)
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.error) {
                                alert(data.message);
                            } else {
                                this.activarBotonEf = false;
                                this.txtBotonEf = "Redireccionando...";
                                window.location =  data.redirectPayment;

                            }

                        }).catch((err) => {
                            console.log(err);
                        });
                },

                consultarPersona() {
                    console.log("El evento onchange se ejecuta");

                    fetch(`{{BASE_URL}}/matricula/generarpagomatricula/{{ID_MATRICULA}}`)
                        .then((response) => response.json())
                        .then((data) => {
                            if (!data.error) {

                                if (data.estadopago.length > 0) {
                                    this.factura.pagado = true;
                                    this.factura.pagos = data.estadopago;
                                    this.pago.id = data.estadopago[0].pago_id;
                                    // this.pago.codigo = data.estadopago[0].estado_pago_id;
                                    this.pago.estado = data.estadopago[0].estado;


                                } else {
                                    this.pago.estado = "SIN PAGO";
                                }


                                let matricula = data.matricula;
                                this.categorias = data.categorias;
                                let detalle_factura = data.detalle_factura;
                                this.matricula.txtId = matricula.ide_persona;
                                this.matricula.selTipoIde = matricula.tipo_doc;
                                this.matricula.txtNombre = matricula.nom1_persona + " " + matricula.nom2_persona;
                                this.matricula.txtApellido = matricula.ape1_persona + " " + matricula.ape2_persona;
                                this.matricula.txtPrograma = matricula.nom_nivel_educativo;
                                this.matricula.txtSede = matricula.siglas_colegio;
                                this.matricula.txtPeriodo = matricula.nom_periodo;
                                this.matricula.cod_periodo = matricula.cod_periodo;
                                this.matricula.programaPersonaId = matricula.id_programa_persona;
                                this.factura.txtDescFactura = detalle_factura[0].paquete;
                                this.factura.txtTotalPagarInt = data.total_a_pagar_int;
                                this.numeroLetras = numeroALetras(data.total_a_pagar_int, {
                                    plural: "PESOS",
                                    singular: "PESO",
                                    centPlural: "CENTAVOS",
                                    centSingular: "CENTAVO",
                                });
                                this.soportes = data.soportes;
                                this.matricula.cel_persona = matricula.cel_persona;
                                this.matricula.codTipoID = matricula.cod_doc
                                this.matricula.email_persona = matricula.email_persona;
                                this.factura.txtTotalPagar = data.total_a_pagar;
                                this.detFactura = data.detalle_factura;
                                this.matricula.txtNroCreditos = matricula.nro_creditos;
                                this.factura.cod_paquete = data.detalle_factura[0].codigo;

                            } else {
                                alert(data.message);
                            }
                        });
                },
                continuarPago(isPagoOnline = true) {
                    // this.formpago.activarBoton = false;
                    //  this.formpago.txtBoton = "Procesando...";


                    const dataOnline = {
                        "cod_matricula": '{{ ID_MATRICULA }}',
                        "isPagoOnline": true,
                    }

                    const dataCaja = {
                        "isPagoOnline": false,
                        "codPaquete": this.factura.cod_paquete,
                        "programaPersonaId": this.matricula.programaPersonaId,
                        "total": this.factura.txtTotalPagarInt,
                        "personaId": this.matricula.txtId,
                        "matriculaId": '{{ ID_MATRICULA }}',
                    };

                    const finalData = isPagoOnline ? dataOnline : dataCaja;
                    const finalURL = isPagoOnline ? `{{BASE_URL}}/transaccion/InicioPagoMatricula` : "{{URL_INVOICE}}";




                    this.activarBoton = false;
                    this.txtBoton = "Procesando...";
                    fetch(
                        finalURL, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(finalData)
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.error) {
                                this.msjResp = data.message;
                                this.mostrarAlert = true;
                                this.activarBoton = true;
                                this.txtBoton = "Confirmar pago";
                            } else {
                                this.activarBoton = false;
                                this.txtBoton = "Redireccionando...";
                                window.location = isPagoOnline ? data.data.str_url : data.redirectPayment;

                            }

                        }).catch((err) => {
                            console.log(err);
                        });
                },


                numeroALetras(numero) {
                    this.formpago.colorTextoAlert = "text-success";
                    this.numeroLetras = numeroALetras(this.formpago.txtTotal, {
                        plural: "PESOS",
                        singular: "PESO",
                        centPlural: "CENTAVOS",
                        centSingular: "CENTAVO",
                    });
                },

                procesarFormulario() { },
            },



        });





    </script>
</body>

</html>
