<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <title>Pago personalizado</title>
</head>

<body class="bg-dark">
    <div id="app" class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body pb-1">
                        <h4 class="card-title text-center text-dark border border border-secondary bg-warning">

                            <img src="{{BASE_URL}}/static/img/LogoITP2.svg" style="height: 50px;" class="img img-fluid"
                                alt="">
                            Pagos financieros
                        </h4>
                    </div>

                    <form @submit.prevent="procesarFormulario" class="needs-validation" novalidate>
                        <div class="container">
                            <h5>Datos del cliente</h5>
                            <div class="row">
                                <div class="col-md-4">

                                    <label for="">Identificación:
                                        <span class="text-danger">*</span></label>
                                    <div class="input-group">

                                        <input v-model.trim="formpago.txtId" type="text" required class="form-control"
                                            value="" placeholder="Identificación del estudiante" />
                                        <button type="button" class="btn btn-outline-secondary "
                                            @click="consultarPersona" style="width: 30%;">
                                            <!----> <span class="sr-only">Loading...</span>

                                            Buscar <i class="fa fa-search"></i>
                                        </button>
                                    </div>


                                    <div class="form-group">

                                        <div class="valid-feedback">
                                            Ok valido
                                        </div>

                                        <div class="invalid-feedback">
                                            completa este campo
                                        </div>

                                    </div>



                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Tipo identificación:
                                            <span class="text-danger">*</span></label>
                                        <input type="text" disabled value="CC" class="form-control">
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Nombres: <span class="text-danger">*</span></label>
                                        <input v-model.trim="formpago.txtNom1" disabled type="text"
                                            placeholder="Nombres del estudiante" class="form-control" value="" />
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Apellidos: <span class="text-danger">*</span></label>
                                        <input v-model.trim="formpago.txtApe1" type="text"
                                            placeholder="Apellidos del estudiante" class="form-control" disabled
                                            value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Correo electronico:
                                            <span class="text-danger">*</span></label>
                                        <input type="email" placeholder="Correo electrónico"
                                            v-model.trim="formpago.txtEmail" class="form-control form-control-sm"
                                            disabled value="" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Celular:</label>
                                        <input type="text" v-model.trim="formpago.txtCelular" disabled
                                            class="form-control form-control-sm" value=""
                                            placeholder="Número de celular" />
                                    </div>
                                </div>




                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Programa academico: <span class="text-danger">*</span></label>
                                        <select v-model="sel_programa" class="form-select form-select-sm" required
                                            aria-label="Default select example" @change="onChange($event)">
                                            <option disabled value="">Seleccionar</option>
                                            <option :value="row.id_programa_persona" v-for="(row, index) in programas">
                                                {[row.siglas_colegio]} -
                                                {[row.nom_nivel_educativo]} </option>

                                        </select>
                                    </div>
                                </div>



                            </div>

                            <div class="row mt-2">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="">Concepto: <span class="text-danger">*</span></label>
                                        <select v-model="sel_concepto" id="select_concepto"
                                            style="width: 100%; height: 100%;" class="form-select form-select-sm"
                                            aria-label="Default select example">
                                            <option disabled value="">Seleccionar</option>
                                            <option :value="row.paquete_id" v-for="(row, index) in conceptos"
                                                :title="row.concepto_id">
                                                {[row.concepto]} -
                                                ${[row.valor_unidad]}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Cantidad: <span class="text-danger">*</span></label>
                                        <input type="number" value="1" v-model="cantidad" :disabled="desactivarCantidad"
                                            class="form-control form-control-sm" min="1" max="10" placeholder="Cantidad"
                                            @change="calculaValor()">
                                    </div>
                                </div>


                            </div>

                            <div class="row mt-2">
                                <div class="col-md-9">

                                    <div class="form-group mt-2">
                                        <label for="">Valor en letras:
                                        </label>
                                        <div class=" border border-secondary p-1 " :class="formpago.colorTextoAlert">
                                            {[numeroLetras ]}
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Total a pagar:
                                            <span class="text-danger">*</span></label>
                                        <input class="form-control bg-dark" type="number" :disabled="desactivarTotal"
                                            placeholder="Escriba un valor numérico" v-model.number="total_a_pagar"
                                            multiple id="txtTotal" v-on:keyup="numeroALetras"
                                            style=" color: chartreuse;" />
                                    </div>
                                </div>
                            </div>



                            <div class="row mt-2">
                                <div class="col-md-6 col-6">
                                    <button class="btn btn-outline-info" data-bs-toggle="tooltip"
                                        @click="inicarPago(false)" data-bs-placement="top" :disabled="!activarBotonEf"
                                        title="Genera PDF para pago en efectivo">
                                        <i class="fa fa-barcode"></i> {[txtBotonEf]}
                                    </button>
                                </div>
                                <div class="col-md-6 col-6 ">
                                    <div style="float: right;">
                                        <button type="button" :disabled="!formpago.activarBoton"
                                            class="btn btn-success " @click="inicarPago(true)">
                                            <i id="icon" v-if="!formpago.activarBoton"
                                                class="fa fa-spinner fa-pulse"></i>

                                            {[ formpago.txtBoton ]} <i class="fa fa-credit-card"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>


                            <br /><br />
                        </div>
                    </form>
                </div>
                <!--container -->
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{BASE_URL}}/static/js/numLetras.js" type="text/javascript"></script>


    <script type="text/javascript">





        var app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            data() {
                return {
                    formpago: {
                        txtId: "",
                        selTipoIde: "",
                        selTipoIdeName: "",
                        txtNom1: "",
                        txtNom2: "",
                        txtApe1: "",
                        txtApe2: "",
                        txtEmail: "",
                        txtCelular: "",
                        txtConcepto: "",
                        txtFile: "",
                        txtTotal: 0,
                        activarBoton: true,
                        txtBoton: "Pago en linea",
                        colorTextoAlert: "text-success"
                    },
                    estudiante: {
                        txtNom1: "",
                        txtNom2: "",
                        txtApe1: "",
                        txtApe2: ""
                    },
                    des_concepto: "",
                    desactivarTotal : true,
                    desactivarCantidad : false,
                    total_a_pagar: 0,
                    cantidad: 1,
                    conceptos: [],
                    sel_concepto: "",
                    sel_programa: "",
                    programas: [],
                    valor_unidad: 0,
                    numeroLetras: "CERO PESOS",
                    activarBotonEf: true,
                    txtBotonEf: "Pagar en efectivo",
                    txtBoton: "Pago en linea"
                };
            },
            methods: {
                consultarPersona() {


                    fetch(`{{BASE_URL}}/usuario/infobasica/${this.formpago.txtId}`)
                        .then((response) => response.json())
                        .then((data) => {
                            if (!data.error) {
                                let user = data.data;
                                this.estudiante.txtNom1 = user.nombre1;
                                this.estudiante.txtNom2 = user.nombre2;
                                this.estudiante.txtApe1 = user.apellido1;
                                this.estudiante.txtApe2 = user.apellido2;

                                this.formpago.txtNom1 = user.nombre1 + " " + user.nombre2;
                                this.formpago.txtApe1 = user.apellido1 + " " + user.apellido2;
                                this.formpago.txtEmail = user.email_persona;
                                this.formpago.txtCelular = user.cel_persona;
                                this.formpago.selTipoIde = user.tipo_doc;
                                this.formpago.txtConcepto = "SIN CONCEPTO DE PAGO";
                                this.consultarProgramas();
                                this.buscarConceptos();
                            } else {
                                this.formpago.txtApe1 = "";
                                this.formpago.txtApe2 = "";
                                this.formpago.txtNom1 = "";
                                this.formpago.txtNom2 = "";
                                this.formpago.txtEmail = "";
                                this.formpago.txtCelular = "";
                                this.formpago.selTipoIde = "";
                            }
                        });
                },

                consultarProgramas() {


                    fetch(`{{BASE_URL}}/estudiante/programas/${this.formpago.txtId}`)
                        .then((response) => response.json())
                        .then((data) => {
                            if (!data.error) {
                                let programas = data.data;
                                this.programas = programas;
                            } else {
                                this.programas = [];
                            }
                        });
                },


                buscarConceptos() {

                    fetch(`{{BASE_URL}}/factura/obtenerconceptos`)
                        .then((response) => response.json())
                        .then((data) => {
                            if (!data.error) {
                                let conceptos = data.data;
                                this.conceptos = conceptos;

                            } else {
                                this.conceptos = [];
                            }
                        });
                },

                calculaValor() {
                    if (this.cantidad < 1) {
                        this.cantidad = 1;
                    }
                    console.log(this.valor_unidad);
                    this.total_a_pagar = this.cantidad * this.valor_unidad;
                    console.log(this.total_a_pagar);
                    this.numeroALetras(this.total_a_pagar);
                },


                inicarPago(isPagoOnline = true) {


                    if (this.total_a_pagar < 100) {
                        this.numeroLetras = "Ingrese un valor mayor o igual que 100";
                        this.formpago.colorTextoAlert = "text-danger";
                    } else {
                        this.activarBotonEf = false;
                        this.formpago.activarBoton = false;

                        if (isPagoOnline) {
                            this.formpago.activarBoton = false;
                            this.formpago.txtBoton = "Procesando...";
                        } else {
                            this.activarBotonEf = false;
                            this.txtBotonEf = "Procesando...";
                        }



                        let data = {
                            "isPagoOnline": isPagoOnline,
                            "total": this.total_a_pagar,
                            "des_concepto": this.des_concepto,
                            "email_persona": this.formpago.txtEmail,
                            "id_persona": this.formpago.txtId,
                            "tipo_id": this.formpago.selTipoIde,
                            "tipo_id_text": this.formpago.selTipoIdeName,
                            "nombre1": this.estudiante.txtNom1,
                            "nombre2": this.estudiante.txtNom2,
                            "apellido1": this.estudiante.txtApe1,
                            "apellido2": this.estudiante.txtApe2,
                            "cel_persona": this.formpago.txtCelular,
                            "str_opcional2": this.numeroLetras,
                            "id_programa_persona": this.sel_programa,
                            "id_paquete": this.sel_concepto,
                            "cantidad" : this.cantidad

                        };

                        this.formpago.activarBoton = true;



                        fetch(
                            `{{BASE_URL}}/transaccion/InicioPagosVarios`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.error) {
                                    this.formpago.colorTextoAlert = "text-danger";
                                    this.numeroLetras = data.message;
                                    this.formpago.activarBoton = true;
                                    this.formpago.txtBoton = "Pago en linea";
                                    this.activarBotonEf = true;
                                    this.txtBotonEf = "Pago en efectivo";
                                } else {

                                    if (isPagoOnline) {
                                        this.formpago.activarBoton = false;
                                        this.formpago.txtBoton = "Redireccionando...";
                                    } else {
                                        this.activarBotonEf = false;
                                        this.txtBotonEf = "Redireccionando...";
                                    }
                                    window.location = data.data.str_url;

                                }

                            }).catch((err) => {
                                console.log(err);
                            });
                    }
                },

                numeroALetras(numero) {

                    this.formpago.colorTextoAlert = "text-success";
                    this.numeroLetras = numeroALetras(this.total_a_pagar, {
                        plural: "PESOS",
                        singular: "PESO",
                        centPlural: "CENTAVOS",
                        centSingular: "CENTAVO",
                    });
                },

                procesarFormulario() {
                    this.consultarPersona();
                },

                onChange2(paquete_id, id_concepto, event) {

                    console.log("el paquete id es:", paquete_id, " y el valor");
                    if(paquete_id=='0'){
                        console.log("activando escritura");
                        this.desactivarTotal = false;
                        this.desactivarCantidad = true;
                        this.cantidad = 1;
                    }else{
                        console.log("desactivando escritura");
                        this.desactivarTotal = true;
                        this.desactivarCantidad = false;
                    }
                    console.log(event);

                    for (const rr of this.conceptos) {

                        if (rr.paquete_id == paquete_id && rr.concepto_id == id_concepto) {
                            this.valor_unidad = rr.valor_unidad;
                        }

                    }


                    this.calculaValor();

                    var optionText = event.target.options[event.target.options.selectedIndex].text;
                    this.des_concepto = optionText;
                    this.sel_concepto = paquete_id;

                },

                onChange(event) {

                    var optionValue = event.target.value;
                    var optionText = event.target.options[event.target.options.selectedIndex].text;
                    this.sel_programa = optionValue;

                }
            },


        });


        $(document).ready(function () {

            var select_concepto = $('#select_concepto').select2({
                placeholder: 'Seleccione concepto de pago'
            });

            select_concepto.on('select2:select', function (e) {
                // Do something
                //el paquete id
                var data = e.params.data.id;
                var id_concepto = e.params.data.title;

                app.onChange2(data, id_concepto, e);
                app.calculaValor();

            });

            select_concepto.on('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'Escriba el concepto o valor a buscar...');
            });

        });

    </script>
</body>

</html>