<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <title>Pago personalizado</title>
</head>

<body class="bg-dark">
    <div id="app" class="container mt-3">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card">
                    <div class="card-body pb-1">
                        <h4 class="card-title text-center text-dark border border border-secondary bg-warning">

                            <img src="{{BASE_URL}}/static/img/LogoITP2.svg" style="height: 50px;" class="img img-fluid"
                                alt="">
                            Pagos financieros
                        </h4>
                    </div>

                    <form @submit.prevent="procesarFormulario" class="needs-validation" novalidate>
                        <div class="container">
                            <h5>Datos del cliente</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Identificación:
                                            <span class="text-danger">*</span></label>
                                        <input v-model.trim="formpago.txtId" type="text" required class="form-control"
                                            value="" placeholder="Identificación del cliente"
                                            @change="consultarPersona" />
                                        <div class="valid-feedback">
                                            Ok valido
                                        </div>

                                        <div class="invalid-feedback">
                                            completa este campo
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Tipo identificación:
                                            <span class="text-danger">*</span></label>
                                        <select v-model="formpago.selTipoIde" class="form-select"
                                            aria-label="Default select example" @change="onChange($event)">
                                            <option disabled value="">Seleccionar</option>
                                            <option value="1">CC</option>
                                            <option value="2">CE</option>
                                            <option value="0">OTRO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Primer Nombre: <span class="text-danger">*</span></label>
                                        <input v-model.trim="formpago.txtNom1" type="text"
                                            placeholder="Nombre1 cliente" class="form-control"
                                            value="Duvan Andenys" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Segundo Nombre: </label>
                                        <input type="text" v-model.trim="formpago.txtNom2" class="form-control"
                                            value="Rosero Lopez" placeholder="Nombre2 cliente" />
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Primer Apellido: <span class="text-danger">*</span></label>
                                        <input v-model.trim="formpago.txtApe1" type="text"
                                            placeholder="Apellido1 cliente" class="form-control"
                                            value="Duvan Andenys" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Segundo Apellido: </label>
                                        <input type="text" v-model.trim="formpago.txtApe2" class="form-control"
                                            value="Rosero Lopez" placeholder="Apellido2 cliente" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Correo electronico:
                                            <span class="text-danger">*</span></label>
                                        <input type="email" placeholder="Email del cliente"
                                            v-model.trim="formpago.txtEmail" class="form-control"
                                            value="durosero@itp.edu.co" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Celular:</label>
                                        <input type="text" v-model.trim="formpago.txtCelular" class="form-control"
                                            value="3208403926" placeholder="Número de celular" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Descripción del concepto: </label>
                                        <input type="text" v-model.trim="formpago.txtConcepto" class="form-control"
                                            id="txtConcepto" placeholder="Ej: pago certificado o record academico" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Subir documento:</label>
                                        <input class="form-control" disabled type="file" multiple />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Total a pagar:
                                            <span class="text-danger">*</span></label>
                                        <input class="form-control bg-dark" type="text"
                                            placeholder="Escriba un valor numérico" v-model.number="formpago.txtTotal"
                                            multiple id="txtTotal" v-on:keyup="numeroALetras"
                                            style=" color: chartreuse;" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-12">


                                    <div class="form-group mt-2">
                                        <div class=" border border-secondary p-1 " :class="formpago.colorTextoAlert">
                                            {[numeroLetras ]}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-8">
                                            <button class="btn btn-outline-info" data-bs-toggle="tooltip"
                                                @click="inicarPago(false)" data-bs-placement="top"
                                                :disabled="!activarBotonEf" title="Genera PDF para pago en efectivo">
                                                <i class="fa fa-barcode"></i> {[txtBotonEf]}
                                            </button>
                                </div>
                                <div class="col-md-4 ">
                                    <div style="float: right;">
                                        <button type="submit" :disabled="!formpago.activarBoton"
                                            class="btn btn-success " @click="inicarPago(true)">
                                            <i id="icon" v-if="!formpago.activarBoton"
                                                class="fa fa-spinner fa-pulse"></i>

                                            {[ formpago.txtBoton ]}  <i class="fa fa-credit-card"></i> 
                                        </button>
                                    </div>

                                </div>
                            </div>


                            <br /><br />
                        </div>
                    </form>
                </div>
                <!--container -->
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="{{BASE_URL}}/static/js/numLetras.js" type="text/javascript"></script>


    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            data() {
                return {
                    formpago: {
                        txtId: "",
                        selTipoIde: "",
                        selTipoIdeName: "",
                        txtNom1: "",
                        txtNom2: "",
                        txtApe1: "",
                        txtApe2: "",
                        txtEmail: "",
                        txtCelular: "",
                        txtConcepto: "",
                        txtFile: "",
                        txtTotal: 0,
                        activarBoton: true,
                        txtBoton: "Pago en linea",
                        colorTextoAlert: "text-success"
                    },
                    numeroLetras: "CERO PESOS",
                    activarBotonEf: true,
                    txtBotonEf: "Pagar en efectivo",
                    txtBoton: "Pago en linea"
                };
            },
            methods: {
                consultarPersona() {
                    console.log("El evento onchange se ejecuta");

                    fetch(`{{BASE_URL}}/usuario/contacto/${this.formpago.txtId}`)
                        .then((response) => response.json())
                        .then((data) => {
                            if (!data.error) {
                                let user = data.data;
                                this.formpago.txtNom1 = user.nombres;
                                this.formpago.txtApe1 = user.apellidos;
                                this.formpago.txtEmail = user.email_persona;
                                this.formpago.txtCelular = user.cel_persona;
                                this.formpago.selTipoIde = user.tipo_doc;
                                this.formpago.txtConcepto = "SIN CONCEPTO DE PAGO";
                            } else {
                                this.formpago.txtApe1 = "";
                                this.formpago.txtApe2 = "";
                                this.formpago.txtNom1 = "";
                                this.formpago.txtNom2 = "";
                                this.formpago.txtEmail = "";
                                this.formpago.txtCelular = "";
                                this.formpago.selTipoIde = "";
                            }
                        });
                },

                inicarPago(isPagoOnline=true) {

                    console.log( document.getElementById('#comboTipoID') );

                    if (this.formpago.txtTotal < 1000) {
                        this.numeroLetras = "Ingrese un valor mayor que 1000";
                        this.formpago.colorTextoAlert = "text-danger";
                    } else {
                        this.activarBotonEf = false;
                        this.formpago.activarBoton = false;

                        if(isPagoOnline){
                            this.formpago.activarBoton = false;
                            this.formpago.txtBoton = "Procesando...";
                        }else{
                            this.activarBotonEf = false;
                            this.txtBotonEf = "Procesando...";
                        }



                        let data = {
                            "isPagoOnline" : isPagoOnline,
                            "total": this.formpago.txtTotal,
                            "des_concepto": this.formpago.txtConcepto,
                            "email_persona": this.formpago.txtEmail,
                            "id_persona": this.formpago.txtId,
                            "tipo_id": this.formpago.selTipoIde,
                            "tipo_id_text": this.formpago.selTipoIdeName,
                            "nombre1": this.formpago.txtNom1,
                            "nombre2": this.formpago.txtNom2,
                            "apellido1": this.formpago.txtApe1,
                            "apellido2": this.formpago.txtApe2,
                            "cel_persona": this.formpago.txtCelular,
                            "str_opcional2": this.numeroLetras,

                        };

                        fetch(
                            `{{BASE_URL}}/transaccion/InicioPagoGeneral`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.error) {
                                    this.formpago.colorTextoAlert = "text-danger";
                                    this.numeroLetras = data.message;
                                    this.formpago.activarBoton = true;
                                    this.formpago.txtBoton = "Pago en linea";
                                    this.activarBotonEf = true;
                                    this.txtBotonEf ="Pago en efectivo";
                                } else {

                                    if(isPagoOnline){
                                        this.formpago.activarBoton = false;
                                        this.formpago.txtBoton = "Redireccionando...";
                                    }else{
                                        this.activarBotonEf = false;
                                        this.txtBotonEf ="Redireccionando...";
                                    }
                                    window.location = data.data.str_url;

                                }

                            }).catch((err)=>{
                                console.log(err);
                            });
                    }
                },


                continuarPago() {
                    if (this.formpago.txtTotal < 1000) {
                        this.numeroLetras = "Ingrese un valor mayor que 1000";
                        this.formpago.colorTextoAlert = "text-danger";
                    } else {
                        this.formpago.activarBoton = false;
                        this.formpago.txtBoton = "Procesando...";


                        let data = {
                            "flt_total_con_iva": this.formpago.txtTotal,
                            "flt_valor_iva": 0,
                            "str_id_pago": "",//enviar vacio
                            "str_descripcion_pago": this.formpago.txtConcepto,
                            "str_email": this.formpago.txtEmail,
                            "str_id_cliente": this.formpago.txtId,
                            "str_tipo_id": this.formpago.selTipoIde,
                            "str_nombre_cliente": this.formpago.txtNombre,
                            "str_apellido_cliente": this.formpago.txtApellido,
                            "str_telefono_cliente": this.formpago.txtCelular,
                            "str_opcional1": "0", //codigo del paquete
                            "str_opcional2": this.numeroLetras,

                        };

                        fetch(
                            `{{BASE_URL}}/transaccion/InicioPago`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.error) {
                                    this.formpago.colorTextoAlert = "text-danger";
                                    this.numeroLetras = data.message;
                                    this.formpago.activarBoton = true;
                                    this.formpago.txtBoton = "Confirmar pago";
                                } else {
                                    this.formpago.activarBoton = false;
                                    this.formpago.txtBoton = "Redireccionando...";
                                    window.location = data.data.str_url;

                                }

                            }).catch((err)=>{
                                console.log(err);
                            });
                    }
                },
                numeroALetras(numero) {
                    this.formpago.colorTextoAlert = "text-success";
                    this.numeroLetras = numeroALetras(this.formpago.txtTotal, {
                        plural: "PESOS",
                        singular: "PESO",
                        centPlural: "CENTAVOS",
                        centSingular: "CENTAVO",
                    });
                },

            procesarFormulario(){},

            onChange(event) {

                    var optionValue = event.target.value;
                    var optionText = event.target.options[event.target.options.selectedIndex].text;
                    console.log(optionText);
                    console.log(optionValue);
                    this.formpago.selTipoIdeName = optionText;

                }
            },
        });

    </script>
</body>

</html>