<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{{BASE_URL}}/static/css/pago_varios.css?v=20260316-2" rel="stylesheet" />


    <title>Pago personalizado</title>
</head>

<body class="payment-page">
    <div id="app" class="container payment-container mt-4 mb-4">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="card payment-shell">
                    <div class="card-body pb-0">
                        <h4 class="card-title payment-header">
                            <img src="{{BASE_URL}}/static/img/LogoITP1.svg" class="img img-fluid logo-itp"
                                alt="Logo institucional UNIPUTUMAYO">
                            PAGOS FINANCIEROS
                            <i class="fa fa-university"></i>
                        </h4>
                    </div>

                    <form @submit.prevent="procesarFormulario" class="needs-validation payment-form" novalidate>
                        <div class="container payment-content">
                            <div class="row top-cards-row">
                                <div class="col-12 col-md-4">
                                    <div class="top-info-card">
                                        <div class="top-info-label"><i class="fa fa-user"></i> Identificacion</div>
                                        <div class="top-info-value">{[formpago.txtId || 'Sin identificar']}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="top-info-card top-info-program">
                                        <div class="top-info-label"><i class="fa fa-graduation-cap"></i> Programa</div>
                                        <div class="top-info-value">{[programaSeleccionadoNombre]}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="top-info-card top-info-highlight">
                                        <div class="top-info-label"><i class="fa fa-money"></i> Total</div>
                                        <div class="top-info-value">$ {[total_a_pagar || 0]}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="payment-card form-section">
                                <h5 class="section-title"><i class="fa fa-id-card-o"></i> Datos del cliente</h5>
                                <div class="payment-grid row g-3">
                                    <div class="col-md-5">
                                        <label for="">Identificación:
                                            <span class="text-danger">*</span></label>
                                        <div class="input-group search-input-group">
                                            <input v-model.trim="formpago.txtId" type="text" required class="form-control"
                                                value="" placeholder="Identificación del estudiante" />
                                            <button type="button" class="btn btn-search" @click="consultarPersona" :disabled="cargandoPersona">
                                                <span class="sr-only">Loading...</span>
                                                {[ cargandoPersona ? 'Buscando...' : 'Buscar' ]} <i class="fa fa-search"></i>
                                            </button>
                                        </div>

                                        <div class="form-group">
                                            <div class="valid-feedback">
                                                Ok valido
                                            </div>

                                            <div class="invalid-feedback">
                                                completa este campo
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="">Tipo identificación:
                                                <span class="text-danger">*</span></label>
                                            <input type="text" disabled value="CC" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Nombres: <span class="text-danger">*</span></label>
                                                    <input v-model.trim="formpago.txtNom1" disabled type="text"
                                                        placeholder="Nombres del estudiante" class="form-control"
                                                        value="" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Apellidos: <span class="text-danger">*</span></label>
                                                    <input v-model.trim="formpago.txtApe1" type="text"
                                                        placeholder="Apellidos del estudiante" class="form-control"
                                                        disabled value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Correo electronico:
                                                <span class="text-danger">*</span></label>
                                            <input type="email" placeholder="Correo electrónico"
                                                v-model.trim="formpago.txtEmail" class="form-control" disabled
                                                value="" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Celular:</label>
                                            <input type="text" v-model.trim="formpago.txtCelular" disabled
                                                class="form-control" value="" placeholder="Número de celular" />
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="">Programa academico: <span class="text-danger">*</span></label>
                                            <select v-model="sel_programa" class="form-select" required :disabled="cargandoPersona"
                                                aria-label="Default select example" @change="onChange($event)">
                                                <option disabled value="">Seleccionar</option>
                                                <option :value="row.id_programa_persona" v-for="(row, index) in programas">
                                                    {[row.siglas_colegio]} -
                                                    {[row.nom_nivel_educativo]} </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="payment-card form-section">
                                <h5 class="section-title"><i class="fa fa-file-text-o"></i> Informacion del pago</h5>
                                <div class="payment-grid row g-3">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="">Concepto: <span class="text-danger">*</span></label>
                                            <select v-model="sel_concepto" id="select_concepto"
                                                style="width: 100%; height: 100%;" class="form-select"
                                                aria-label="Default select example" :disabled="cargandoConceptos">
                                                <option disabled value="">Seleccionar</option>
                                                <option :value="row.paquete_id" v-for="(row, index) in conceptos"
                                                    :title="row.concepto_id">
                                                    {[row.concepto]} -
                                                    ${[row.valor_unidad]}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Cantidad concepto: <span class="text-danger">*</span></label>

                                            <input type="number" value="1" v-model="cantidad" :disabled="desactivarCantidad || procesandoPago"
                                                class="form-control" min="1" max="99" maxlength="2"
                                                placeholder="Cantidad"
                                                oninput="if(this.value.length > 2) this.value = this.value.slice(0,2)"
                                                @change="calculaValor()" />


                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group mt-1">
                                            <label for="">Valor en letras:
                                            </label>
                                            <div class="status-box" :class="formpago.colorTextoAlert">
                                                {[numeroLetras ]}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Total a pagar:
                                                <span class="text-danger">*</span></label>
                                            <input class="form-control total-input" type="number" v-on:change="numeroALetras"
                                                :disabled="desactivarTotal" placeholder="Escriba un valor numerico"
                                                v-model.number="total_a_pagar" multiple id="txtTotal"
                                                v-on:keyup="numeroALetras" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="payment-card total-box">
                                <div class="alert alert-info py-2" role="status" v-if="cargandoPersona || cargandoConceptos">
                                    Cargando información para el pago...
                                </div>
                                <div class="row align-items-center g-3">
                                    <div class="col-12 col-lg-5">
                                        <p class="total-label mb-1">Total a pagar</p>
                                        <h3 class="total-amount mb-0">$ {[total_a_pagar || 0]}</h3>
                                    </div>
                                    <div class="col-12 col-lg-7">
                                        <div class="action-buttons">
                                            <button type="button" class="btn btn-pay-outline" data-bs-toggle="tooltip"
                                                @click="inicarPago(false)" data-bs-placement="top" :disabled="cargandoPersona || cargandoConceptos || procesandoPago || !activarBotonEf"
                                                title="Genera PDF para pago en efectivo">
                                                <i class="fa fa-barcode"></i> {[txtBotonEf]}
                                            </button>
                                            <button type="button" :disabled="cargandoPersona || cargandoConceptos || procesandoPago || !formpago.activarBoton"
                                                class="btn btn-pay-primary" @click="inicarPago(true)">
                                                <i id="icon" v-if="isOnlineLoading"
                                                    class="fa fa-spinner fa-pulse"></i>

                                                {[ formpago.txtBoton ]} <i class="fa fa-credit-card"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{BASE_URL}}/static/js/numLetras.js" type="text/javascript"></script>


    <script type="text/javascript">





        var app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            data() {
                return {
                    formpago: {
                        txtId: "",
                        selTipoIde: "",
                        selTipoIdeName: "",
                        txtNom1: "",
                        txtNom2: "",
                        txtApe1: "",
                        txtApe2: "",
                        txtEmail: "",
                        txtCelular: "",
                        txtConcepto: "",
                        txtFile: "",
                        txtTotal: 0,
                        activarBoton: true,
                        txtBoton: "Pago en linea",
                        colorTextoAlert: "text-success"
                    },
                    estudiante: {
                        txtNom1: "",
                        txtNom2: "",
                        txtApe1: "",
                        txtApe2: ""
                    },
                    des_concepto: "",
                    desactivarTotal: true,
                    desactivarCantidad: false,
                    total_a_pagar: 0,
                    cantidad: 1,
                    conceptos: [],
                    sel_concepto: "",
                    sel_concepto_id: "",
                    sel_programa: "",
                    programas: [],
                    valor_unidad: 0,
                    conceptoValorManual: false,
                    numeroLetras: "CERO PESOS",
                    activarBotonEf: true,
                    txtBotonEf: "Pagar en efectivo",
                    txtBoton: "Pago en linea",
                    cargandoPersona: false,
                    cargandoConceptos: false,
                    procesandoPago: false,
                    isCashLoading: false,
                    isOnlineLoading: false
                };
            },
            mounted() {
                window.addEventListener('pageshow', this.resetPaymentButtons);
            },
            beforeDestroy() {
                window.removeEventListener('pageshow', this.resetPaymentButtons);
            },
            computed: {
                programaSeleccionadoNombre() {
                    const row = this.programas.find((programa) => String(programa.id_programa_persona) === String(this.sel_programa));
                    return row ? row.nom_nivel_educativo : "Sin seleccionar";
                }
            },
            methods: {
                async consultarPersona() {
                    if (!this.formpago.txtId || this.cargandoPersona) {
                        return;
                    }

                    this.cargandoPersona = true;
                    this.cargandoConceptos = true;
                    this.formpago.colorTextoAlert = "text-success";
                    this.numeroLetras = "Consultando información...";

                    try {
                        const response = await fetch(`{{BASE_URL}}/usuario/infobasica/${this.formpago.txtId}`);
                        const data = await response.json();
                        if (!response.ok || data.error) {
                            throw new Error(data?.message || 'No se encontró información para la identificación ingresada.');
                        }

                        let user = data.data;
                        this.estudiante.txtNom1 = user.nombre1;
                        this.estudiante.txtNom2 = user.nombre2;
                        this.estudiante.txtApe1 = user.apellido1;
                        this.estudiante.txtApe2 = user.apellido2;

                        this.formpago.txtNom1 = user.nombre1 + " " + user.nombre2;
                        this.formpago.txtApe1 = user.apellido1 + " " + user.apellido2;
                        this.formpago.txtEmail = user.email_persona;
                        this.formpago.txtCelular = user.cel_persona;
                        this.formpago.selTipoIde = user.tipo_doc;
                        this.formpago.txtConcepto = "SIN CONCEPTO DE PAGO";

                        await Promise.all([this.consultarProgramas(), this.buscarConceptos()]);
                        this.numeroALetras(this.total_a_pagar);
                    } catch (error) {
                        this.formpago.txtApe1 = "";
                        this.formpago.txtApe2 = "";
                        this.formpago.txtNom1 = "";
                        this.formpago.txtNom2 = "";
                        this.formpago.txtEmail = "";
                        this.formpago.txtCelular = "";
                        this.formpago.selTipoIde = "";
                        this.programas = [];
                        this.formpago.colorTextoAlert = "text-danger";
                        this.numeroLetras = error?.message || 'No fue posible consultar la información.';
                    } finally {
                        this.cargandoPersona = false;
                        this.cargandoConceptos = false;
                    }
                },

                async consultarProgramas() {
                    const response = await fetch(`{{BASE_URL}}/estudiante/programas/${this.formpago.txtId}`);
                    const data = await response.json();
                    if (!response.ok || data.error) {
                        this.programas = [];
                        return;
                    }

                    this.programas = data.data;
                },


                async buscarConceptos() {
                    const response = await fetch(`{{BASE_URL}}/factura/obtenerconceptos`);
                    const data = await response.json();
                    if (!response.ok || data.error) {
                        this.conceptos = [];
                        return;
                    }

                    this.conceptos = data.data;
                },



                calculaValor() {
                    if (this.cantidad < 1) {
                        this.cantidad = 1;
                    }

                    if (this.conceptoValorManual) {
                        this.total_a_pagar = Number(this.total_a_pagar) || 0;
                        this.numeroALetras(this.total_a_pagar);
                        return;
                    }

                    this.total_a_pagar = this.cantidad * this.valor_unidad;
                    this.numeroALetras(this.total_a_pagar);
                },

                obtenerTotalFinal() {
                    const selectedValue = Number(this.valor_unidad || 0);
                    const totalDigitado = Number(this.total_a_pagar);

                    if (selectedValue === 0) {
                        if (!Number.isFinite(totalDigitado) || totalDigitado <= 0 || !Number.isInteger(totalDigitado)) {
                            this.formpago.colorTextoAlert = "text-danger";
                            this.numeroLetras = "Debe ingresar un valor válido mayor a cero para este concepto.";
                            return null;
                        }

                        return totalDigitado;
                    }

                    return selectedValue * Number(this.cantidad || 1);
                },


                inicarPago(isPagoOnline = true) {

                    if (this.procesandoPago) {
                        return;
                    }


                    const totalFinal = this.obtenerTotalFinal();

                    if (totalFinal === null) {
                        return;
                    }

                    if (totalFinal < 100) {
                        this.numeroLetras = "Ingrese un valor mayor o igual que 100";
                        this.formpago.colorTextoAlert = "text-danger";
                    } else {
                        this.total_a_pagar = totalFinal;
                        this.numeroALetras(totalFinal);
                        this.procesandoPago = true;
                        this.activarBotonEf = false;
                        this.formpago.activarBoton = false;
                        this.isCashLoading = !isPagoOnline;
                        this.isOnlineLoading = isPagoOnline;

                        if (isPagoOnline) {
                            this.formpago.activarBoton = false;
                            this.formpago.txtBoton = "Procesando...";
                            this.txtBotonEf = "Pagar en efectivo";
                        } else {
                            this.activarBotonEf = false;
                            this.txtBotonEf = "Procesando...";
                            this.formpago.txtBoton = "Pago en linea";
                        }



                        const dataOnline = {
                            "isPagoOnline": isPagoOnline,
                            "total": totalFinal,
                            "des_concepto": this.des_concepto,
                            "email_persona": this.formpago.txtEmail,
                            "id_persona": this.formpago.txtId,
                            "tipo_id": this.formpago.selTipoIde,
                            "tipo_id_text": this.formpago.selTipoIdeName,
                            "nombre1": this.estudiante.txtNom1,
                            "nombre2": this.estudiante.txtNom2,
                            "apellido1": this.estudiante.txtApe1,
                            "apellido2": this.estudiante.txtApe2,
                            "cel_persona": this.formpago.txtCelular,
                            "str_opcional2": this.numeroLetras,
                            "id_programa_persona": this.sel_programa,
                            "id_paquete": this.sel_concepto,
                            "concepto_id": this.sel_concepto_id,
                            "cantidad": this.cantidad

                        };


                        const dataCaja = {
                            "isPagoOnline": false,
                            "codPaquete": this.sel_concepto,
                            "programaPersonaId": this.sel_programa,
                            "total": totalFinal,
                            "personaId": this.formpago.txtId,
                            "cantidad": this.cantidad,
                            "conceptoId": this.sel_concepto_id,
                            "descripcion": this.des_concepto
                        };

                        const finalData = isPagoOnline ? dataOnline : dataCaja;
                        const finalURL = isPagoOnline ? `{{BASE_URL}}/transaccion/InicioPagosVarios` : "{{URL_INVOICE}}";


                        fetch(
                            finalURL, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(finalData)
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.error) {
                                    this.formpago.colorTextoAlert = "text-danger";
                                    this.numeroLetras = data.message;
                                } else {

                                    if (isPagoOnline) {
                                        this.formpago.activarBoton = false;
                                        this.formpago.txtBoton = "Redireccionando...";
                                    } else {
                                        this.activarBotonEf = false;
                                        this.txtBotonEf = "Redireccionando...";
                                    }
                                    window.location = isPagoOnline ? data.data.str_url : data.redirectPayment;

                                }

                            }).catch((err) => {
                                this.formpago.colorTextoAlert = "text-danger";
                                this.numeroLetras = 'Servicio no disponible temporalmente. Intente nuevamente en unos minutos.';
                            }).finally(() => {
                                if (this.formpago.txtBoton !== "Redireccionando..." && this.txtBotonEf !== "Redireccionando...") {
                                    this.resetPaymentButtons();
                                }
                            });
                    }
                },

                resetPaymentButtons() {
                    this.procesandoPago = false;
                    this.isCashLoading = false;
                    this.isOnlineLoading = false;
                    this.formpago.activarBoton = true;
                    this.formpago.txtBoton = "Pago en linea";
                    this.activarBotonEf = true;
                    this.txtBotonEf = "Pagar en efectivo";
                },

                numeroALetras(numero) {

                    this.formpago.colorTextoAlert = "text-success";
                    const valor = Number(numero ?? this.total_a_pagar) || 0;
                    this.numeroLetras = numeroALetras(valor, {
                        plural: "PESOS",
                        singular: "PESO",
                        centPlural: "CENTAVOS",
                        centSingular: "CENTAVO",
                    });
                },

                procesarFormulario() {
                    this.consultarPersona();
                },

                onChange2(paquete_id, id_concepto, event) {
                    let selectedConcept = null;
                    for (const rr of this.conceptos) {

                        if (rr.paquete_id == paquete_id && rr.concepto_id == id_concepto) {
                            selectedConcept = rr;
                        }

                    }

                    this.valor_unidad = Number(selectedConcept?.valor_unidad || 0);
                    this.conceptoValorManual = this.valor_unidad === 0;

                    if (this.conceptoValorManual) {
                        this.desactivarTotal = false;
                        this.desactivarCantidad = true;
                        this.cantidad = 1;
                        this.total_a_pagar = 0;
                        this.numeroALetras(0);
                    } else {
                        this.desactivarTotal = true;
                        this.desactivarCantidad = false;
                        this.calculaValor();
                    }

                    var optionText = event.target.options[event.target.options.selectedIndex].text;
                    this.des_concepto = optionText;
                    this.sel_concepto = paquete_id;
                    this.sel_concepto_id = id_concepto;

                },

                onChange(event) {

                    var optionValue = event.target.value;
                    var optionText = event.target.options[event.target.options.selectedIndex].text;
                    this.sel_programa = optionValue;

                }
            },


        });


        $(document).ready(function () {

            var select_concepto = $('#select_concepto').select2({
                placeholder: 'Seleccione concepto de pago'
            });

            select_concepto.on('select2:select', function (e) {
                // Do something
                //el paquete id
                var data = e.params.data.id;
                var id_concepto = e.params.data.title;

                app.onChange2(data, id_concepto, e);
                app.calculaValor();

            });

            select_concepto.on('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'Escriba el concepto o valor a buscar...');
            });

        });

    </script>
</body>

</html>
