<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        @page {
            margin: 0cm 0cm;
            size: auto;
        }

        .color-title {
            color: #002775;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            color: #000000;
            height: 0px;
            margin-top: 25px;
            margin-bottom: 15px;
            border: 1px dashed;
        }

        body {
            margin-top: 0.5cm;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: .5cm;
            font-family: 'Helvetica';
            font-size: 10px;
            background: url("{{BASE_URL}}/static/img/.svg") no-repeat fixed center;
        }

        .w-100 {
            width: 100%
        }

        .text-base {
            font-size: 12px;
        }

        .table-border td {
            border: 1px solid #000000;
            padding: 2px;
            margin: 0px;
            border-collapse: collapse;
        }

        .table-border th {
            border: 1px solid #000000;
            background: #80d8ff;
            padding: 2px;
            border-collapse: collapse;

        }





        .sin_borde {
            padding: 5px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid black;
            border-left: 0px;
        }

        .text-center {
            text-align: center;
        }


        header {
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            height: 2cm;

            /* Estilos extra personales */
        }

        footer {
            position: fixed;
            bottom: 1cm;
            left: 0cm;
            right: 0cm;
            height: 1.5cm;
            /* Estilos extra personales */
            /*background-color: #03a9f4;
            color: white;

            line-height: 1.5cm;*/
        }

        footer .page-number:after {
            content: counter(page);
        }
    </style>
    </style>
    <title>Document</title>


</head>

<body>





    <div class="">

        <table border="0" cellpadding="1" class="" cellspacing="1" style="width: 100%; font-size: 12px;">
            <tr>
                <td rowspan="4"><img src="{{BASE_URL}}/static/img/LogoITP1.svg" style="height: 120px;"
                        class="img img-fluid">
                </td>
                <td colspan="3">
                    <strong style="font-size: 12px;">
                        INSTITUTO TECNOLOGICO DEL PUTUMAYO
                        <br>NIT. 800.247.940-1
                    </strong>
                    <br>Sede Principal: "Aire Libre" Barrio Luis Carlos Galán Teléfono: 3103310083
                    <br>Mocoa, Putumayo - Colombia
                </td>

                <td rowspan="4" style="text-align: right">
                    <img src="{{scrQR}}" style="height: 120px;" class="img img-fluid">
                </td>
            </tr>


            <tr>
                <td></td>

            </tr>
            <tr>
                <td></td>
            </tr>
        </table>


        <table style="width: 100%; font-size: 10px; border-collapse: collapse; " class="table-border" cellpadding="0"
            cellspacing="0">
            <tr>
                <td colspan="2">Adicional: {{ factura.cliente.siglas_colegio }} | {{ factura.cliente.nom_periodo }} | {{
                    factura.cliente.nom_nivel_educativo }} | {{ factura.cliente.cod_matricula }} </td>
                <th rowspan="4">RECIBO NRO: {{factura.id}}</th>

            </tr>
            <tr>
                <td>Identificación: {{factura.cliente.tipo_doc}}-{{factura.cliente.ide_persona}}</td>
                <td>Cliente: {{factura.cliente.ape1_persona}} {{factura.cliente.ape2_persona}}
                    {{factura.cliente.nom1_persona}} {{factura.cliente.nom2_persona}}</td>
            </tr>
            <tr>
                <td>Celuar: {{factura.cliente.cel_persona}}</td>
                <td>E-mail: {{factura.cliente.email_persona}} </td>



            </tr>

            <tr>
                <td>Fecha factura: {{factura.fecha}}</td>
                <td>Categoria: {{factura.categoria}}</td>

            </tr>
            <tr>
                <th colspan="2">CONCEPTO FACTURA</th>
                <th>DESCUENTOS</th>
            </tr>
            <tr>
                <td colspan="2" style="margin: 0px; padding: 0px;">


                    <table style="border: 0px solid black; border-collapse: collapse; width: 100%;">
                        <tr style="border-top: 0px solid;">
                            <th style="border-top: 0px solid;">Descripción</th>
                            <th style="border-top: 0px solid;">Valor Und</th>
                            <th style="border-top: 0px solid;">Cantidad</th>
                            <th style="border-top: 0px solid;">Descuento</th>
                            <th style="border-top: 0px solid;">Subtotal</th>

                        </tr>
                        {{#each factura.det_factura }}
                        <tr>
                            <td style="font-size: 8px;">{{ concepto }}</td>
                            <td>{{valor_unidad}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{descuento }} %</td>
                            <td>{{subtotal}}</td>
                        </tr>

                        {{/each}}

                    </table>


                    <ul>




                    </ul>
                </td>
                <td style="text-align: left; font-size: 9px;">

                    {{#each factura.descuentos }}
                    <li>{{categoria}} {{porcentaje}} % </li>
                    {{/each}}

                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2" style="width: 70%;">
                    <small style="font-size: 10px; ">Recibo de pago generado a travez de <strong>Sigedin</strong>, valide la autenticidad de este recibo escaneando el código QR, o a travéz del siguiente enlace: <span style="color: midnightblue;">{{urlService}}</span></small>
                </td>
                <td rowspan="2" style="background: #8bc34a; font-size: 12px;"> TOTAL: <Strong
                        style="float: right;">$ {{
                        factura.total_a_pagar_s }}</Strong> </td>

            </tr>



        </table>


    </div>

    <p style="text-align: center;">Detalle de pago</p>
    <div>
        {{#each factura.pagos }}
        <table border="0" cellpadding="1" class="" cellspacing="1"
            style="width: 100%; font-size: 9px; border-collapse: collapse; text-align: justify;" class="table-border">

            <tr >
                <th style="width: 20%;">ID</th>
                <td>{{_id}}</td>
            </tr>
            <tr>
                <th>VALOR COBRADO:</th>
                <td>{{total_pago}}</td>
            </tr>
            <tr>
                <th>VALOR PAGADO:</th>
                <td>{{total_pago}}</td>
            </tr>
            <tr>
                <th>FORMA DE PAGO:</th>
                <td>{{forma_pago}}</td>
            </tr>
            <tr>
                <th>FECHA DE PAGO:</th>
                <td>{{fecha}}</td>
            </tr>
            <tr>
                <th>ESTADO:</th>
                <td style="background-color: lawngreen;" >{{estado}}</td>
            </tr>
            <tr>
                <th>BANCO:</th>
                <td>{{nombre_banco}}</td>
            </tr>
            <tr>
                <th>CODIGO TRANSACCIÓN:</th>
                <td>{{codigo_transaccion}}</td>
            </tr>
            <tr>
                <th>TIKED ID:</th>
                <td>{{ticketID}}</td>
            </tr>
            <tr>
                <th>NÚMERO DE TARJETA:</th>
                <td>{{numero_tarjeta}}</td>
            </tr>
            <tr>
                <th>FRANQUICIA:</th>
                <td>{{franquicia}}</td>
            </tr>
            <tr>
                <th>CÓDIGO APROBACIÓN:</th>
                <td>{{cod_aprobacion}}</td>
            </tr>

            <tr>
                <th>NRO RECIBIDO:</th>
                <td>{{num_recibido}}</td>
            </tr>






        </table>


        {{/each}}
    </div>

    <div style="text-align: left; margin-top: 2px; font-size: 8px;">Generado: {{fecha_actual}}</div>

    <hr>







</body>
<script>


</script>

</html>